.course-container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    border-right: 1px solid gray;
}
.market-container{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 10px;
}
@media screen and (max-width: 500px) {
    .market-container {
        display: flex;
       justify-content: space-around;
    }}

@media screen and (max-width: 800px) {
    .course-container {
        display: grid;
        grid-template-columns: auto auto;
    }
  }
  @media screen and (max-width: 500px) {
    .course-container {
        display: grid;
        grid-template-columns: auto ;

    }
  }
  