.course-container{
    display: grid;
    column-gap: 10px;
}

.market-container{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 10px;
}

  @media screen and (min-width: 412px) {
    .course-container {
        display: grid;
        grid-template-columns: auto ;

    }
  }
  @media screen and (min-width: 500px) {
    .course-container {
        display: grid;
        grid-template-columns: auto auto ;
        justify-content: space-between;
      

    }
  }
  @media screen and (min-width: 700px) {
    .course-container {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
    }
  }

  @media screen and (min-width: 1200px) {
    .course-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-between;
    }
  }
  